<div class="app form-block" [class.mat-elevation-z2]="!isActive">
  <h2 class="mat-h2">Agregar Redes</h2>
  <dynamic-form
    [class.mat-elevation-z3]="isActive"
    [config]="config"
    [validators]="validators"
    #form1>
  </dynamic-form>
  <button
    mat-raised-button
    [disabled]="disabled"
    (click)="submit()"
    color="primary">
    Crear
  </button>
</div>
<div class="card" *ngFor="let network of selectedNetworks">
  <mat-card class="margin">
    <mat-card-header>
      <mat-card-title>{{ network.description }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ul>
        <li>
          <strong>Fecha de inicio</strong>
          {{ network.dateStart | date }}
        </li>
        <li>
          <strong>Fecha de fin</strong>
          {{ network.dateEnd | date }}
        </li>
      </ul>
    </mat-card-content>
  </mat-card>
</div>