h2{
    text-align: center;
    position: relative;
    top: 30px;
    font-size: 50px;
}
h5{
    text-align: center;
    position: relative;
    top: 30px;
}
.card{
    position: relative;
    top: 69px;
    font-family: Gugi;
    text-align: center;
    width: 30%;
    /*box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);*/
    // box-shadow: 0 19px 10rem, 0 15px 12px rgba(0,0,0,0.22);*/
}

.mat-card-header-text {
    margin: auto !important;
}

.card2{
    position: relative;
    margin: -15.7rem 35rem;
    width: 30%;
    text-align: center;
}
.card3{
    position: relative;
    margin: -19rem 70rem;
    width: 30%;
    height: 56%;
    text-align: center;
}
.iperson{
    width: 8rem;
    font-size: 8rem;
}
mat-card-content{
    margin-left: 50px;
    margin-right: 50px;
}
button{
    margin: 10px;
}

