<div class="form-block">
  <mat-form-field>
    <input matInput placeholder="Input">
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Textarea"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Select">
      <mat-option value="option">Option</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="col-12 col-md-6">
    <!-- Datos personales -->
    <div class="form-container">
      <mat-form-field>
        <input matInput type="text" placeholder="Nombre" formControlName="nombre">
      </mat-form-field>
      <div class="form-group">
        <label for="segundo">Segundo Nombre</label>
        <input required="true" type="text" class="form-control" formControlName="segundoNombre">
      </div>
      <div class="form-group">
        <label for="apellido">Apellido</label>
        <input required="true" type="text" class="form-control" formControlName="apellido">
      </div>
      <div class="form-group">
        <label for="segundoApellido">Segundo Apellido</label>
        <input required="true" type="text" class="form-control" formControlName="segundoApellido">
      </div>
      <div class="form-group">
        <label for="casada">Apellido Casada</label>
        <input required="true" type="text" class="form-control" formControlName="apellidoCasada">
      </div>
      <div class="form-group">
        <label for="fecha">Fecha de nacimiento</label>
        <div class="input-group">
          <input required="true" class="form-control" placeholder="yyyy-mm-dd" name="dp"
            formControlName="fechaNacimiento">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="religion">Religion</label>
        <select class="form-control" formControlName="religión">
          <option>Opcion 1</option>
          <option>Opcion 2</option>
          <option>Opcion 3</option>
          <option>Opcion 4</option>
          <option>Opcion 5</option>
          <option>Otro** configurar</option>
        </select>
      </div>
      <div class="form-group">
        <label for="email">Correo Electronico</label>
        <input required="true" type="email" class="form-control" formControlName="email">
      </div>
      <div class="form-group">
        <label for="genero">Genero</label>
        <select class="form-control" formControlName="genero">
          <option>Masculino</option>
          <option>Femenino</option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-4">
    <!-- Dirección -->
    <div class="form-container">
      <div class="form-group">
        <label>Dirección</label>
      </div>
      <div class="form-group">
        <input required="true" type="text" class="form-control" formControlName="departamento"
          placeholder="Departamento">
      </div>
      <div class="form-group">
        <input required="true" type="text" class="form-control" formControlName="municipio" placeholder="Municipio">
      </div>
      <div class="form-group">
        <input required="true" type="text" class="form-control" formControlName="zona" placeholder="Zona">
      </div>
      <div class="form-group">
        <input required="true" type="text" class="form-control" formControlName="colonia" placeholder="Colonia">
      </div>
      <div class="form-group">
        <input required="true" type="text" class="form-control" formControlName="avenida" placeholder="Avenida">
      </div>
      <div class="form-group">
        <input required="true" type="text" class="form-control" formControlName="calle" placeholder="Calle">
      </div>
      <div class="form-group">
        <input required="true" type="text" class="form-control" formControlName="sector"
          placeholder="Manzana o sector">
      </div>
      <div class="form-group">
        <input required="true" type="text" class="form-control" formControlName="numeroCasa"
          placeholder="Número de casa" maxlength="3">
      </div>
    </div>
    <!-- Teléfono -->
    <div class="form-container">
      <div class="form-group">
        <label for="casada">Teléfono</label>
      </div>
      <div class="form-group">
        <input required="true" type="text" class="form-control" formControlName="celular" placeholder="Celular"
          maxlength="8">
      </div>
      <div class="form-group">
        <input required="true" type="text" class="form-control" formControlName="domicilio" placeholder="Domicilio"
          maxlength="8">
      </div>
      <div class="form-group">
        <input required="true" type="text" class="form-control" formControlName="otro" placeholder="Otro"
          maxlength="8">
      </div>
    </div>
  </div>
</form>
