<div class="menu d-none">
  <button type="button" class="btn btn-secondary">
    Regresar
  </button>
  <button type="button" class="btn btn-secondary">
    Otro
  </button>
</div>
<section class="mt-5">
  <form class="row justify-content-center" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="col-12 col-md-6">
      <!-- Datos personales -->
      <div class="form-container">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input required="true" type="text " class="form-control" formControlName="firstName">
        </div>
        <div class="form-group">
            <label for="segundo">Segundo Nombre</label>
          <input required="true" type="text" class="form-control" formControlName="secondName">
        </div>
        <div class="form-group">
          <label for="apellido">Apellido</label>
          <input required="true" type="text" class="form-control" formControlName="firstSurname">
        </div>
        <div class="form-group">
          <label for="segundoApellido">Segundo Apellido</label>
          <input required="true" type="text" class="form-control" formControlName="lastSurname">
        </div>
        <div class="form-group">
          <label for="casada">Apellido Casada</label>
          <input required="true" type="text" class="form-control" formControlName="marriedname">
        </div>
        <div class="form-group">
            <label for="fecha">Fecha de nacimiento</label>
            <div class="input-group">
              <input required="true" class="form-control" placeholder="yyyy-mm-dd"
                     name="dp" formControlName="birthdate" ngbDatepicker #d="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
              </div>
            </div>
          </div>
        <div class="form-group">
          <label for="religion">Religion</label>
          <select class="form-control" formControlName="religion">
            <option>Opcion 1</option>
            <option>Opcion 2</option>
            <option>Opcion 3</option>
            <option>Opcion 4</option>
            <option>Opcion 5</option>
            <option>Otro** configurar</option>
          </select>
        </div>
        <div class="form-group">
          <label for="email">Correo Electronico</label>
          <input required="true" type="email" class="form-control" formControlName="email">
        </div>
        <div class="form-group">
          <label for="genero">Genero</label>
          <select class="form-control" formControlName="gender">
            <option>Masculino</option>
            <option>Femenino</option>
          </select>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
      <!-- Dirección -->
      <div class="form-container">
        <div class="form-group">
            <label>Dirección</label>
        </div>
        <div class="form-group">
          <input required="true" type="text" class="form-control" formControlName="department" placeholder="Departamento">
        </div>
        <div class="form-group">
          <input required="true" type="text" class="form-control" formControlName="municipality" placeholder="Municipio">
        </div>
        <div class="form-group">
          <input required="true" type="text" class="form-control" formControlName="zone" placeholder="Zona">
        </div>
        <div class="form-group">
          <input required="true" type="text" class="form-control" formControlName="neighborhood" placeholder="Colonia">
        </div>
        <div class="form-group">
          <input required="true" type="text" class="form-control" formControlName="avenue" placeholder="Avenida">
        </div>
        <div class="form-group">
          <input required="true" type="text" class="form-control" formControlName="street" placeholder="Calle">
        </div>
        <div class="form-group">
          <input required="true" type="text" class="form-control" formControlName="area" placeholder="Manzana o sector">
        </div>
        <div class="form-group">
          <input required="true" type="text" class="form-control" formControlName="houseNumber" placeholder="Número de casa" maxlength="3">
        </div>
      </div>
      <!-- Teléfono -->
      <div class="form-container">
        <div class="form-group">
          <label for="casada">Teléfono</label>
        </div>
        <div class="form-group">
          <input required="true" type="text" class="form-control" formControlName="mobileNumber" placeholder="Celular" maxlength="8">
        </div>
        <div class="form-group">
          <input required="true" type="text" class="form-control" formControlName="housePhone" placeholder="Domicilio" maxlength="8">
        </div>
        <div class="form-group">
          <input required="true" type="text" class="form-control" formControlName="another" placeholder="Otro" maxlength="8">
        </div>
      </div>
      <div class="text-right">
        <button type="submit" class="btn btn-primary">
          Enviar
        </button>
      </div>
    </div>
  </form>
</section>
