$enable-shadows: true;

// Importing all bootstrap
@import 'functions';
@import 'variables';
@import 'mixins';

@import 'root';
@import 'reboot';
@import 'grid';
@import 'type';
@import 'utilities';

@import 'forms';
@import 'navbar';
@import 'buttons';

section.row {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

// Forms
