@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 5%;
    height: 100vh;
}

.container > * {
    width: 100%;
}

.form-block {
    padding: 20px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;

    max-width: 35rem;

    background-color: white;

    border-radius: 5px;

    dynamic-form {
        padding : 10px;

        mat-form-field {
            width: 100%;
            display: block;
        }
    }
}

.button {
    cursor: pointer;
}